.header
{
    padding-top:16px;
    padding-bottom:16px;
    background-color:#59dd9d;
    background-image: url(images/bg-header.jpg);
    background-position: center;
    background-size:cover;

    color:white;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
}